body {
    padding: 0;
    margin: 0;
}
html, body, #map  {
	height: 100%;
    width: 100vw;
}
#map {
	background-color: rgb(72, 75, 102);
}

.leaflet-layerstree-header-label {
    font-size: 1.2em;
}
span.leaflet-layerstree-header-label {
    font-weight: bold;
    color: rgb(70, 99, 155);
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    width: 180px;
    background-color: rgba(255,255,255,0.6);
}

.leaflet-canvas-layer {
    opacity: 0.55;
}

.leaflet-control.leaflet-bar.leaflet-html-legend {
    width: 400px;
    background-color: rgba(255,255,255,0.0);
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

/* for mobile */
@media only screen and (max-width: 410px) {
    .legend {
        display: none;
    } 
    .leaflet-control-velocity{
        display: none;
    }
}
/* for pc */
@media only screen and (min-width: 410px) {
    .legend_img {
        width: 100%;
    } 
}